.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: 'Righteous', cursive;
  color: rgb(250, 39, 56);
}

.App-link {
  color: #61dafb;
  
  
}
#firstname, #lastname, #email, #password {
  margin: 0 30%;
  width: 40%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
